.contact-form {
  height: 92vh;
  background: radial-gradient(#5b7742, #2b411c);
  background-size: cover;
  overflow-x: hidden;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
  color: #edeee9;
}
.container {
  margin: 20rem 0;
}
.section-title {
  font-size: 3rem;
  margin: 2rem 1rem;
}
.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}
.address {
  font-size: 2.5rem;
}
.contact-section {
  width: 20rem;
}
iframe {
  border: 0; 
  width: 100%; 
  height: 39rem;
}
input {
  font-size: 1.5rem;
  width: 20rem;
  margin: 0.25rem 0;
}
textarea {
  font-size: 1.5rem;
  height: 15rem;
  width: 18rem;
  margin: 0.25rem 0;
}
input:focus,
textarea:focus {
  outline: #2b411c !important;
  box-shadow: 0 0 10px #2b411c;
}
.send-btn {
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1rem;
  background: radial-gradient(#5b7742, #2b411c);
  color: #edeee9;
  border: 0.3rem solid #5b7742;
  border-radius: 2rem;
  transition: all 0.3s;
  cursor: pointer;
}

.send-btn:hover {
  transform: scale(1.1);
}
.send-btn:active {
  transform: scale(1);
}
@media only screen and (max-width: 39.5em) {
  .section-title {
    font-size: 2rem;
    margin: 1rem;
  }
  .address {
    font-size: 1.75rem;
  }
  .container {
    margin: 5rem 0;
  }
  .contact-section {
    margin-top: 2rem;
  }
  iframe {
    height: 30rem;
  }
  input {
    font-size: 1.2rem;
    width: 20rem;
    margin: 0.25rem 0;
  }
  textarea {
    font-size: 1.2rem;
    height: 10rem;
    width: 18rem;
    margin: 0.25rem 0;
  }
  .send-btn {
    padding: 1.25rem 2.5rem;
    font-size: 1.3rem;
    
  }
}
@media only screen and (max-width: 24.75em) {
iframe {
  width: 25rem;
  height: 20rem;
}
}